.header {
  display: flex;
  justify-content: space-between;
}
.items {
  .item_box {
    width: 100%;
    border: 2px solid gray;
    margin: 37px 0px;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}
.reset_btn{
  float: right;
}
.filter{
  margin: 10px 0;
  display: flex;
  justify-content: start;

  .filter_item {
    margin-right: 15px;
  }
}
