.header_item {
  width: 100%;
  border: 2px solid gray;
  margin: 37px 0px 0px;
      padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header_sub_item {
    display: flex;
    flex-wrap: wrap;
  .box {
    width: 50px;
    border: 2px solid gray;
    padding: 0px 10px;
    margin-right: 3px;
  }
  .box_train{
    width: 60px;
    border: 2px solid red;
    padding: 5px 10px;
    margin-right: 3px;
  }
}